In [247]:
import pandas as pd
import numpy as np

In [248]:
df1 = pd.read_csv('SALES.csv')

In [249]:
df1.describe()

       Child Material Code  Customer Code Unique
count         4.396218e+06          4.396218e+06
mean          1.613947e+05          1.536221e+04
std           2.191641e+04          7.293808e+03
min           1.504360e+05          1.031000e+03
25%           1.610170e+05          8.633000e+03
50%           1.610660e+05          1.767400e+04
75%           1.610860e+05          2.175700e+04
max           1.004447e+06          2.911200e+04

In [250]:
read_file = pd.read_csv(r'Customer.txt')
read_file.to_csv (r'Customer.csv', index=None)

In [251]:
read_file = pd.read_csv(r'Materialdot.txt')
read_file.to_csv(r'Material.csv', index=None)

In [252]:
read_file = pd.read_csv(r'ParentChild.txt')
read_file.to_csv(r'ParentChild.csv', index=None)

In [253]:
df2 = pd.read_csv('Customer.csv', sep = '|')
df3 = pd.read_csv('Material.csv', sep = '|')
df4 = pd.read_csv('ParentChild.csv', sep = '|')
df2

,Customer Code Unique,Volume Segment,Preferential Segment,City,Region,SR Tracking Code,Channel,Location type
0,1905,D,1,City 890,SOUTH,888,Channel 1,Location Subtype 1
1,1906,D,1,City 994,SOUTH,888,Channel 1,Location Subtype 1
2,1907,D,1,City 654,SOUTH,888,Channel 1,Location Subtype 1
3,1908,D,1,City 1052,SOUTH,888,Channel 1,Location Subtype 1
4,1910,D,1,City 1116,SOUTH,888,Channel 1,Location Subtype 1
...,...,...,...,...,...,...,...,...
26406,27387,B,1,City 834,NORTH,888,Channel 2,Location Subtype 6
26407,27521,B,1,City 971,NORTH,888,Channel 2,Location Subtype 8
26408,27622,D,1,City 834,NORTH,888,Channel 3,Location Subtype 4
26409,27660,D,1,City 834,NORTH,888,Channel 3,Location Subtype 10
26410,27377,D,2,City 834,NORTH,888,Channel 3,Location Subtype 10

In [254]:
len(df2['Customer Code Unique'].unique())

26411

In [255]:
df3['Parent Material Code'].unique()

array([ 150437,  150438,  150439,  150661,  151053,  151054,  151295,
        151300,  151401,  151534,  151535,  151650,  151854,  151855,
        151856,  151857,  151861,  151862,  151883,  151894,  151980,
        152762,  161000,  161001,  161003,  161004,  161005,  161006,
        161007,  161008,  161009,  161011,  161012,  161013,  161014,
        161015,  161016,  161017,  161018,  161020,  161021,  161022,
        161023,  161024,  161025,  161026,  161027,  161028,  161029,
        161043,  161044,  161052,  161054,  161055,  161056,  161057,
        161058,  161059,  161060,  161061,  161062,  161063,  161064,
        161065,  161066,  161068,  161069,  161070,  161071,  161072,
        161075,  161076,  161079,  161081,  161082,  161083,  161084,
        161085,  161088,  161089,  161090,  161091,  161093,  161094,
        161095,  161096,  161097,  161109,  161112,  161114,  161115,
        161116,  161117,  161118,  161119,  161120,  161121,  161124,
        161125,  161126,  161129,  161130,  161131,  161135,  161136,
        161140,  161144,  161150,  161152,  161153,  161154,  161155,
        161156,  161157,  161158,  161159,  161160,  161161,  161162,
        161165,  161166,  161167,  161168,  161169,  161170,  161171,
        161172,  161173,  161177,  161178,  161179,  161180,  161183,
        161186,  161187,  161188,  161189,  161190,  161191,  161192,
        161193,  161194,  161195,  161196,  161197,  161198,  161199,
        161200,  161201,  161202,  161203,  161204, 1000009, 1000049,
       1000195, 1000280, 1000858, 1001365, 1001366, 1002313, 1002926,
       1002927, 1002930, 1002931, 1002936, 1002950, 1003043, 1003096,
       1003418, 1003570, 1003654, 1003842, 1003914, 1003993, 1003994,
       1003998, 1003999, 1004212, 1004213, 1004266, 1004302, 1004317,
       1004326, 1004331, 1004333, 1004334, 1004337, 1004338, 1004347,
       1004357, 1004358, 1004359, 1004362, 1004364, 1004374, 1004375,
       1004378, 1004379, 1004380, 1004382, 1004385, 1004387, 1004388,
       1004390, 1004391, 1004396, 1004398, 1004404, 1004411, 1004413,
       1004414, 1004416, 1004417], dtype=int64)

In [256]:
df4.rename(columns = {'CHILD':'Child Material Code'}, inplace = True)

In [257]:

result_df = pd.merge(df1, df4, on='Child Material Code', how='left')
df14 = pd.DataFrame(result_df)
# Print the result
df14

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,PARENT
0,1000049,11996,2022-04-12 00:00:00.000,28,1000049
1,1000049,1559,2022-04-12 00:00:00.000,"290,5",1000049
2,1000049,20772,2022-04-12 00:00:00.000,147,1000049
3,1000049,4068,2022-04-12 00:00:00.000,"3,5",1000049
4,1000049,5650,2022-04-12 00:00:00.000,"3,5",1000049
...,...,...,...,...,...
4396213,161204,9806,2023-06-08 00:00:00.000,630,161204
4396214,161204,9806,2023-06-13 00:00:00.000,420,161204
4396215,161204,9806,2023-06-20 00:00:00.000,420,161204
4396216,161204,9806,2023-06-24 00:00:00.000,420,161204
4396217,161204,9806,2023-07-01 00:00:00.000,420,161204

In [258]:
result_df = pd.merge(df14, df2, on='Customer Code Unique', how='left')
df142 = pd.DataFrame(result_df)
# Print the result
df142

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,PARENT,Volume Segment,Preferential Segment,City,Region,SR Tracking Code,Channel,Location type
0,1000049,11996,2022-04-12 00:00:00.000,28,1000049,D,2,City 296,SOUTH,72,Channel 1,Location Subtype 5
1,1000049,1559,2022-04-12 00:00:00.000,"290,5",1000049,D,2,City 227,CENTER,220,Channel 1,Location Subtype 5
2,1000049,20772,2022-04-12 00:00:00.000,147,1000049,D,2,City 227,CENTER,13,Channel 1,Location Subtype 5
3,1000049,4068,2022-04-12 00:00:00.000,"3,5",1000049,D,2,City 227,CENTER,9,Channel 1,Location Subtype 5
4,1000049,5650,2022-04-12 00:00:00.000,"3,5",1000049,D,2,City 56,NORTH,51,Channel 1,Location Subtype 5
...,...,...,...,...,...,...,...,...,...,...,...,...
4396213,161204,9806,2023-06-08 00:00:00.000,630,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11
4396214,161204,9806,2023-06-13 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11
4396215,161204,9806,2023-06-20 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11
4396216,161204,9806,2023-06-24 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11
4396217,161204,9806,2023-07-01 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11

In [259]:
df142.rename(columns = {'PARENT':'Parent Material Code'}, inplace = True)

In [260]:
result_df = pd.merge(df142, df3, on='Parent Material Code', how='left')
df1423 = pd.DataFrame(result_df)
# Print the result
df1423

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,Volume Segment,Preferential Segment,City,Region,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment
0,1000049,11996,2022-04-12 00:00:00.000,28,1000049,D,2,City 296,SOUTH,72,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5
1,1000049,1559,2022-04-12 00:00:00.000,"290,5",1000049,D,2,City 227,CENTER,220,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5
2,1000049,20772,2022-04-12 00:00:00.000,147,1000049,D,2,City 227,CENTER,13,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5
3,1000049,4068,2022-04-12 00:00:00.000,"3,5",1000049,D,2,City 227,CENTER,9,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5
4,1000049,5650,2022-04-12 00:00:00.000,"3,5",1000049,D,2,City 56,NORTH,51,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4396213,161204,9806,2023-06-08 00:00:00.000,630,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6
4396214,161204,9806,2023-06-13 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6
4396215,161204,9806,2023-06-20 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6
4396216,161204,9806,2023-06-24 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6
4396217,161204,9806,2023-07-01 00:00:00.000,420,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6

In [261]:
df1423['Sales Liter'] = df1423['Sales Liter'].str.replace(',', '.')
df1423['Sales Liter'] = df1423['Sales Liter'].astype(float)
df1423['nr_unit'] = df1423['Sales Liter']/df1423['Unit Volume']
df1423

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,Volume Segment,Preferential Segment,City,Region,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
0,1000049,11996,2022-04-12 00:00:00.000,28.0,1000049,D,2,City 296,SOUTH,72,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5,56.0
1,1000049,1559,2022-04-12 00:00:00.000,290.5,1000049,D,2,City 227,CENTER,220,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5,581.0
2,1000049,20772,2022-04-12 00:00:00.000,147.0,1000049,D,2,City 227,CENTER,13,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5,294.0
3,1000049,4068,2022-04-12 00:00:00.000,3.5,1000049,D,2,City 227,CENTER,9,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5,7.0
4,1000049,5650,2022-04-12 00:00:00.000,3.5,1000049,D,2,City 56,NORTH,51,Channel 1,Location Subtype 5,25062,Yes,2,0.5,Material Type 1,Package Type 2,Segment 5,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4396213,161204,9806,2023-06-08 00:00:00.000,630.0,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6,21.0
4396214,161204,9806,2023-06-13 00:00:00.000,420.0,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6,14.0
4396215,161204,9806,2023-06-20 00:00:00.000,420.0,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6,14.0
4396216,161204,9806,2023-06-24 00:00:00.000,420.0,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6,14.0
4396217,161204,9806,2023-07-01 00:00:00.000,420.0,161204,B,2,City 24,SOUTH,59,Channel 2,Location Subtype 11,25137,No,2,30.0,Material Type 1,Package Type 3,Segment 6,14.0

In [262]:
len(df1423['Customer Code Unique'].unique())

10536

In [263]:
df1423.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4396218 entries, 0 to 4396217
Data columns (total 20 columns):
 #   Column                Dtype
---  ------                -----
 0   Child Material Code   int64
 1   Customer Code Unique  int64
 2   Invoice_Date          object
 3   Sales Liter           float64
 4   Parent Material Code  int64
 5   Volume Segment        object
 6   Preferential Segment  int64
 7   City                  object
 8   Region                object
 9   SR Tracking Code      int64
 10  Channel               object
 11  Location type         object
 12  Material Group Code   int64
 13  Imported Material     object
 14  Alco Group Code       int64
 15  Unit Volume           float64
 16  Material Type         object
 17  Package Type          object
 18  Price Segment         object
 19  nr_unit               float64
dtypes: float64(3), int64(7), object(10)
memory usage: 670.8+ MB

In [264]:
df1423['Volume Segment'].unique()

array(['D', 'A', 'C', 'B'], dtype=object)

In [265]:
import statistics
from statistics import mode

def most_common(df, column_name):
    return df[column_name].mode().values[0]

result = most_common(df1423, 'Customer Code Unique')
print(result)

16915

In [266]:
filtered_df1 = df1423[df1423['Customer Code Unique'] == 16915]

In [267]:
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,Volume Segment,Preferential Segment,City,Region,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,D,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [268]:
filtered_df1['Volume Segment'].unique()
filtered_df1 = filtered_df1.drop(['Volume Segment'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,Preferential Segment,City,Region,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [269]:
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,Preferential Segment,City,Region,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,1,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [270]:
filtered_df1['Preferential Segment'].unique()

filtered_df1 = filtered_df1.drop(['Preferential Segment'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,City,Region,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,City 227,CENTER,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,City 227,CENTER,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [271]:
filtered_df1['Region'].unique()
filtered_df1 = filtered_df1.drop(['Region'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,City,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,City 227,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,City 227,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,City 227,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,City 227,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,City 227,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,City 227,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,City 227,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,City 227,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,City 227,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,City 227,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [272]:
filtered_df1 = filtered_df1.drop(['City'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,SR Tracking Code,Channel,Location type,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,888,Channel 3,Location Subtype 10,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,888,Channel 3,Location Subtype 10,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [273]:

filtered_df1['Location type'].unique()
filtered_df1 = filtered_df1.drop(['Location type'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,SR Tracking Code,Channel,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,888,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,888,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,888,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,888,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,888,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,888,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,888,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,888,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,888,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,888,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [274]:

filtered_df1 = filtered_df1.drop(['SR Tracking Code'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,Channel,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,Channel 3,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,Channel 3,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [275]:

filtered_df1['Channel'].unique()
filtered_df1 = filtered_df1.drop(['Channel'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Sales Liter,Parent Material Code,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,980.0,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,840.0,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,280.0,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,70.0,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,770.0,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,52.5,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,52.5,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,52.5,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,52.5,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,105.0,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [276]:
filtered_df1 = filtered_df1.drop(['Sales Liter'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Parent Material Code,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit
27742,150437,16915,2023-04-04 00:00:00.000,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0
27743,150437,16915,2023-04-21 00:00:00.000,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0
27744,150437,16915,2023-04-28 00:00:00.000,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0
27745,150437,16915,2023-05-02 00:00:00.000,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0
27746,150437,16915,2023-05-05 00:00:00.000,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09 00:00:00.000,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383473,161187,16915,2023-06-16 00:00:00.000,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383474,161187,16915,2023-06-20 00:00:00.000,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383475,161187,16915,2023-06-27 00:00:00.000,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0
4383476,161187,16915,2023-06-30 00:00:00.000,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0

In [277]:
import datetime as dt
import category_encoders as ce

filtered_df1['Invoice_Date'] = pd.to_datetime(filtered_df1['Invoice_Date'])
filtered_df1['Day_of_Week'] =filtered_df1['Invoice_Date'].dt.strftime('%A')

encoder = ce.BinaryEncoder(cols=['Day_of_Week'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Parent Material Code,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit,Day_of_Week_0,Day_of_Week_1,Day_of_Week_2
27742,150437,16915,2023-04-04,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0,0,0,1
27743,150437,16915,2023-04-21,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0,0,1,0
27744,150437,16915,2023-04-28,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0,0,1,0
27745,150437,16915,2023-05-02,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0,0,0,1
27746,150437,16915,2023-05-05,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,1,0
4383473,161187,16915,2023-06-16,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,1,0
4383474,161187,16915,2023-06-20,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,0,1
4383475,161187,16915,2023-06-27,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,0,1
4383476,161187,16915,2023-06-30,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0,0,1,0

In [278]:
filtered_df1['Month'] = filtered_df1['Invoice_Date'].dt.month
filtered_df1['Day'] = filtered_df1['Invoice_Date'].dt.day
filtered_df1['Year'] = filtered_df1['Invoice_Date'].dt.year
filtered_df1['Year'] = filtered_df1['Year'].map({2022 : 0, 2023 : 1})
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Parent Material Code,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,nr_unit,Day_of_Week_0,Day_of_Week_1,Day_of_Week_2,Month,Day,Year
27742,150437,16915,2023-04-04,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1960.0,0,0,1,4,4,1
27743,150437,16915,2023-04-21,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1680.0,0,1,0,4,21,1
27744,150437,16915,2023-04-28,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,560.0,0,1,0,4,28,1
27745,150437,16915,2023-05-02,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,140.0,0,0,1,5,2,1
27746,150437,16915,2023-05-05,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,1540.0,0,1,0,5,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,1,0,6,9,1
4383473,161187,16915,2023-06-16,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,1,0,6,16,1
4383474,161187,16915,2023-06-20,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,0,1,6,20,1
4383475,161187,16915,2023-06-27,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,105.0,0,0,1,6,27,1
4383476,161187,16915,2023-06-30,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,210.0,0,1,0,6,30,1

In [279]:
encoder = ce.BinaryEncoder(cols=['Month','Day'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code,Customer Code Unique,Invoice_Date,Parent Material Code,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,150437,16915,2023-04-04,150437,25139,No,2,0.5,Material Type 1,Package Type 2,...,0,0,0,1,0,0,0,0,1,1
27743,150437,16915,2023-04-21,150437,25139,No,2,0.5,Material Type 1,Package Type 2,...,0,0,0,1,0,0,0,1,0,1
27744,150437,16915,2023-04-28,150437,25139,No,2,0.5,Material Type 1,Package Type 2,...,0,0,0,1,0,0,0,1,1,1
27745,150437,16915,2023-05-02,150437,25139,No,2,0.5,Material Type 1,Package Type 2,...,0,0,1,0,0,0,1,0,0,1
27746,150437,16915,2023-05-05,150437,25139,No,2,0.5,Material Type 1,Package Type 2,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,2023-06-09,161187,25133,No,2,0.5,Material Type 1,Package Type 1,...,0,0,1,1,0,1,1,0,1,1
4383473,161187,16915,2023-06-16,161187,25133,No,2,0.5,Material Type 1,Package Type 1,...,0,0,1,1,0,0,1,1,1,1
4383474,161187,16915,2023-06-20,161187,25133,No,2,0.5,Material Type 1,Package Type 1,...,0,0,1,1,0,1,1,1,1,1
4383475,161187,16915,2023-06-27,161187,25133,No,2,0.5,Material Type 1,Package Type 1,...,0,0,1,1,1,0,0,0,1,1
4383476,161187,16915,2023-06-30,161187,25133,No,2,0.5,Material Type 1,Package Type 1,...,0,0,1,1,0,1,0,1,1,1

In [280]:
filtered_df1 = filtered_df1.drop(['Invoice_Date'], axis = 1)
filtered_df1

,Child Material Code,Customer Code Unique,Parent Material Code,Material Group Code,Imported Material,Alco Group Code,Unit Volume,Material Type,Package Type,Price Segment,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,150437,16915,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,...,0,0,0,1,0,0,0,0,1,1
27743,150437,16915,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,...,0,0,0,1,0,0,0,1,0,1
27744,150437,16915,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,...,0,0,0,1,0,0,0,1,1,1
27745,150437,16915,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,...,0,0,1,0,0,0,1,0,0,1
27746,150437,16915,150437,25139,No,2,0.5,Material Type 1,Package Type 2,Segment 1,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,161187,16915,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,...,0,0,1,1,0,1,1,0,1,1
4383473,161187,16915,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,...,0,0,1,1,0,0,1,1,1,1
4383474,161187,16915,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,...,0,0,1,1,0,1,1,1,1,1
4383475,161187,16915,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,...,0,0,1,1,1,0,0,0,1,1
4383476,161187,16915,161187,25133,No,2,0.5,Material Type 1,Package Type 1,Segment 6,...,0,0,1,1,0,1,0,1,1,1

In [281]:
encoder = ce.BinaryEncoder(cols=['Child Material Code'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code,Material Group Code,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,150437,25139,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,150437,25139,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,150437,25139,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,150437,25139,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,150437,25139,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,161187,25133,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,161187,25133,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,161187,25133,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,161187,25133,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,161187,25133,...,0,0,1,1,0,1,0,1,1,1

In [282]:
encoder = ce.BinaryEncoder(cols=['Parent Material Code'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code_0,Parent Material Code_1,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,0,1,1,1

In [283]:
filtered_df1.columns

Index(['Child Material Code_0', 'Child Material Code_1',
       'Child Material Code_2', 'Child Material Code_3',
       'Child Material Code_4', 'Child Material Code_5',
       'Child Material Code_6', 'Customer Code Unique',
       'Parent Material Code_0', 'Parent Material Code_1',
       'Parent Material Code_2', 'Parent Material Code_3',
       'Parent Material Code_4', 'Parent Material Code_5',
       'Parent Material Code_6', 'Material Group Code', 'Imported Material',
       'Alco Group Code', 'Unit Volume', 'Material Type', 'Package Type',
       'Price Segment', 'nr_unit', 'Day_of_Week_0', 'Day_of_Week_1',
       'Day_of_Week_2', 'Month_0', 'Month_1', 'Month_2', 'Month_3', 'Day_0',
       'Day_1', 'Day_2', 'Day_3', 'Day_4', 'Year'],
      dtype='object')

In [284]:
encoder = ce.BinaryEncoder(cols=['Material Group Code'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code_0,Parent Material Code_1,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,0,1,1,1

In [285]:
filtered_df1['Imported Material'].unique()

array(['No', 'Yes'], dtype=object)

In [286]:
filtered_df1['Imported Material'] = filtered_df1['Imported Material'].map({'No' : 0, 'Yes' : 1})

In [287]:
filtered_df1['Alco Group Code'] = filtered_df1['Alco Group Code'].map({1 : 0, 2 : 1})

In [288]:
encoder = ce.BinaryEncoder(cols=['Unit Volume'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code_0,Parent Material Code_1,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,0,1,1,1

In [289]:
encoder = ce.BinaryEncoder(cols=['Package Type'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code_0,Parent Material Code_1,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,0,1,1,1

In [290]:
encoder = ce.BinaryEncoder(cols=['Price Segment'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code_0,Parent Material Code_1,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,0,1,1,1

In [291]:
filtered_df1['Material Type'].unique()
encoder = ce.BinaryEncoder(cols=['Material Type'], return_df = True)
filtered_df1 = encoder.fit_transform(filtered_df1)
filtered_df1

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code_0,Parent Material Code_1,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,0,1,1,1

In [292]:
filtered_df1.columns

Index(['Child Material Code_0', 'Child Material Code_1',
       'Child Material Code_2', 'Child Material Code_3',
       'Child Material Code_4', 'Child Material Code_5',
       'Child Material Code_6', 'Customer Code Unique',
       'Parent Material Code_0', 'Parent Material Code_1',
       'Parent Material Code_2', 'Parent Material Code_3',
       'Parent Material Code_4', 'Parent Material Code_5',
       'Parent Material Code_6', 'Material Group Code_0',
       'Material Group Code_1', 'Material Group Code_2',
       'Material Group Code_3', 'Material Group Code_4',
       'Material Group Code_5', 'Imported Material', 'Alco Group Code',
       'Unit Volume_0', 'Unit Volume_1', 'Unit Volume_2', 'Unit Volume_3',
       'Material Type_0', 'Material Type_1', 'Material Type_2',
       'Package Type_0', 'Package Type_1', 'Price Segment_0',
       'Price Segment_1', 'Price Segment_2', 'nr_unit', 'Day_of_Week_0',
       'Day_of_Week_1', 'Day_of_Week_2', 'Month_0', 'Month_1', 'Month_2',
       'Month_3', 'Day_0', 'Day_1', 'Day_2', 'Day_3', 'Day_4', 'Year'],
      dtype='object')

In [293]:
filtered_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4635 entries, 27742 to 4383476
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Child Material Code_0   4635 non-null   int64
 1   Child Material Code_1   4635 non-null   int64
 2   Child Material Code_2   4635 non-null   int64
 3   Child Material Code_3   4635 non-null   int64
 4   Child Material Code_4   4635 non-null   int64
 5   Child Material Code_5   4635 non-null   int64
 6   Child Material Code_6   4635 non-null   int64
 7   Customer Code Unique    4635 non-null   int64
 8   Parent Material Code_0  4635 non-null   int64
 9   Parent Material Code_1  4635 non-null   int64
 10  Parent Material Code_2  4635 non-null   int64
 11  Parent Material Code_3  4635 non-null   int64
 12  Parent Material Code_4  4635 non-null   int64
 13  Parent Material Code_5  4635 non-null   int64
 14  Parent Material Code_6  4635 non-null   int64
 15  Material Group Code_0   4635 non-null   int64
 16  Material Group Code_1   4635 non-null   int64
 17  Material Group Code_2   4635 non-null   int64
 18  Material Group Code_3   4635 non-null   int64
 19  Material Group Code_4   4635 non-null   int64
 20  Material Group Code_5   4635 non-null   int64
 21  Imported Material       4635 non-null   int64
 22  Alco Group Code         4635 non-null   int64
 23  Unit Volume_0           4635 non-null   int64
 24  Unit Volume_1           4635 non-null   int64
 25  Unit Volume_2           4635 non-null   int64
 26  Unit Volume_3           4635 non-null   int64
 27  Material Type_0         4635 non-null   int64
 28  Material Type_1         4635 non-null   int64
 29  Material Type_2         4635 non-null   int64
 30  Package Type_0          4635 non-null   int64
 31  Package Type_1          4635 non-null   int64
 32  Price Segment_0         4635 non-null   int64
 33  Price Segment_1         4635 non-null   int64
 34  Price Segment_2         4635 non-null   int64
 35  nr_unit                 4635 non-null   float64
 36  Day_of_Week_0           4635 non-null   int64
 37  Day_of_Week_1           4635 non-null   int64
 38  Day_of_Week_2           4635 non-null   int64
 39  Month_0                 4635 non-null   int64
 40  Month_1                 4635 non-null   int64
 41  Month_2                 4635 non-null   int64
 42  Month_3                 4635 non-null   int64
 43  Day_0                   4635 non-null   int64
 44  Day_1                   4635 non-null   int64
 45  Day_2                   4635 non-null   int64
 46  Day_3                   4635 non-null   int64
 47  Day_4                   4635 non-null   int64
 48  Year                    4635 non-null   int64
dtypes: float64(1), int64(48)
memory usage: 1.8 MB

In [294]:
from sklearn.ensemble import IsolationForest
def get_IsolationForest(df, target):
    df_IsolationForest = filtered_df1.copy()
    model=IsolationForest()
    # Apply algorithm to data
    df_IsolationForest['outlier']=pd.Series(model.fit_predict(df_IsolationForest.values))
    # Remove rows where there is -1 in created column
    df_IsolationForest=df_IsolationForest[df_IsolationForest.outlier!=-1]
    # Drop created column
    df_IsolationForest.drop(['outlier'], axis=1, inplace=True)
    return df_IsolationForest

df_IsolationForest = get_IsolationForest(filtered_df1,'nr_unit')
df_IsolationForest

,Child Material Code_0,Child Material Code_1,Child Material Code_2,Child Material Code_3,Child Material Code_4,Child Material Code_5,Child Material Code_6,Customer Code Unique,Parent Material Code_0,Parent Material Code_1,...,Month_0,Month_1,Month_2,Month_3,Day_0,Day_1,Day_2,Day_3,Day_4,Year
27742,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,0,1,1
27743,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,0,1
27744,0,0,0,0,0,0,1,16915,0,0,...,0,0,0,1,0,0,0,1,1,1
27745,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,0,1
27746,0,0,0,0,0,0,1,16915,0,0,...,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383472,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,0,1,1
4383473,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,0,1,1,1,1
4383474,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,1,1,1,1
4383475,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,1,0,0,0,1,1
4383476,1,0,1,1,0,1,0,16915,1,0,...,0,0,1,1,0,1,0,1,1,1

In [295]:
filtered_df1 = filtered_df1.drop(['Customer Code Unique'], axis = 1)

In [296]:
from sklearn.decomposition import PCA


def PCA_2(df,n_comp,target):
    X = df.drop(target, axis = 1)
    Y = df[target]
    pca = PCA(n_components=n_comp)
    pca.fit(X)
    pca_df = pca.transform(X)
    pca_df = pd.DataFrame(pca_df)
    pca_df[target] = Y
    return pca_df

pca_df = PCA_2(filtered_df1,20,'nr_unit')

In [297]:
pca_df['nr_unit'] = filtered_df1['nr_unit'].values
pca_df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,nr_unit
0,0.057595,-0.543605,0.249558,-0.899789,-0.213751,-0.527745,-1.294925,-0.036444,-0.043324,0.235182,...,0.107265,-0.820774,-0.015109,1.216647,-0.890428,-0.255802,0.158070,0.340395,-0.175414,1960.0
1,0.092563,-0.650881,0.536805,-1.052997,0.824029,-0.371379,-1.071253,-0.099552,0.107200,-0.180082,...,0.173066,-1.100183,0.593888,-0.033846,-0.786030,-0.494438,-0.185019,0.119809,0.121752,1680.0
2,0.089505,-0.653591,0.557562,-1.061712,0.866292,-0.366986,-1.061339,-0.111776,0.089635,-0.012148,...,0.209426,-0.921377,0.021744,0.515487,-0.820751,-0.132645,-0.569750,0.035682,0.210476,560.0
3,0.048858,-0.519836,0.236857,-0.921515,-0.255507,-0.532939,-1.313776,-0.057535,-0.109458,-0.001688,...,-0.168810,-0.487360,-0.599163,-0.213232,-0.837177,-1.009784,0.620348,0.566223,-0.696840,140.0
4,0.070924,-0.610430,0.547731,-1.083226,0.835385,-0.365015,-1.048182,-0.184354,-0.119675,-0.144218,...,0.071825,-0.397339,-1.067308,0.205397,-0.754468,-0.924491,-0.369348,0.291617,-0.639162,1540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4630,0.420346,-0.668412,0.097292,-0.849566,1.073310,0.397731,-0.311158,1.036278,0.736078,-0.454795,...,0.199262,0.908928,-0.387931,0.687357,-0.116979,-0.520737,0.273895,-0.840753,0.020833,105.0
4631,0.430548,-0.695314,0.083613,-0.840377,1.020121,0.378282,-0.335267,1.065480,0.938177,-0.197977,...,0.507332,0.849202,-0.473911,0.064612,-0.176563,-0.174962,0.050321,-0.873989,-0.202766,105.0
4632,0.402008,-0.602630,-0.174938,-0.705499,0.056096,0.231426,-0.588931,1.190135,0.854343,-0.081199,...,-0.107128,0.985895,-0.559078,0.247605,-0.282160,0.155420,0.756004,-0.764508,0.468815,105.0
4633,0.395128,-0.539537,-0.293988,-0.655446,-0.313484,0.186615,-0.621637,1.181431,0.701410,-0.435677,...,0.427672,0.818371,0.136557,0.840933,-0.332712,0.477155,0.300642,-0.616568,-0.856982,105.0
4634,0.434104,-0.694595,0.127952,-0.866924,1.105068,0.397596,-0.366950,1.146932,0.882399,-0.577920,...,-0.270864,0.679798,0.085417,0.381827,-0.282636,0.387344,-0.062680,-0.941762,0.180552,210.0

In [298]:
filtered_df1.isnull().sum()

Child Material Code_0     0
Child Material Code_1     0
Child Material Code_2     0
Child Material Code_3     0
Child Material Code_4     0
Child Material Code_5     0
Child Material Code_6     0
Parent Material Code_0    0
Parent Material Code_1    0
Parent Material Code_2    0
Parent Material Code_3    0
Parent Material Code_4    0
Parent Material Code_5    0
Parent Material Code_6    0
Material Group Code_0     0
Material Group Code_1     0
Material Group Code_2     0
Material Group Code_3     0
Material Group Code_4     0
Material Group Code_5     0
Imported Material         0
Alco Group Code           0
Unit Volume_0             0
Unit Volume_1             0
Unit Volume_2             0
Unit Volume_3             0
Material Type_0           0
Material Type_1           0
Material Type_2           0
Package Type_0            0
Package Type_1            0
Price Segment_0           0
Price Segment_1           0
Price Segment_2           0
nr_unit                   0
Day_of_Week_0             0
Day_of_Week_1             0
Day_of_Week_2             0
Month_0                   0
Month_1                   0
Month_2                   0
Month_3                   0
Day_0                     0
Day_1                     0
Day_2                     0
Day_3                     0
Day_4                     0
Year                      0
dtype: int64

In [299]:
from kydavra import PValueSelector

def get_PValue(df,target):
    pvalue_selector = PValueSelector()
    selected_columns = pvalue_selector.select(df,target)
    return selected_columns
    
selected_columns = get_PValue(filtered_df1,'nr_unit')
selected_columns

['Child Material Code_0',
 'Child Material Code_1',
 'Child Material Code_2',
 'Child Material Code_4',
 'Child Material Code_5',
 'Child Material Code_6',
 'Parent Material Code_0',
 'Parent Material Code_1',
 'Parent Material Code_4',
 'Parent Material Code_5',
 'Material Group Code_1',
 'Material Group Code_2',
 'Material Group Code_3',
 'Material Group Code_4',
 'Material Group Code_5',
 'Unit Volume_0',
 'Unit Volume_1',
 'Unit Volume_3',
 'Material Type_0',
 'Material Type_2',
 'Package Type_0',
 'Package Type_1',
 'Price Segment_0',
 'Day_of_Week_0',
 'Month_1',
 'Day_1']

In [300]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [301]:
def apply_model(df,model):
    X = df.drop('nr_unit', axis = 1)
    Y = df['nr_unit']

    X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.25, random_state = 12)
    tuned_parameters = {
    'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson']
    }
    clf = GridSearchCV(RandomForestRegressor(), tuned_parameters,scoring='recall')
    clf.fit(X_train, y_train)
    output69 = clf.predict(X_test)
    f1 = mean_squared_error(y_test,output69)
    f2 = mean_absolute_error(y_test,output69)
    f3 = r2_score(y_test,output69)
    print(f1,' ',f2,' ',f3)
    
def fun1(model):
    print("Simple df")
    apply_model(filtered_df1,model)
    print("PCA dataframe")
    apply_model(pca_df,model)

In [302]:
import warnings
warnings.filterwarnings("ignore")
fun1(RandomForestRegressor())

Simple df
1789150.185925075   586.1602572828358   0.11112799975779553
PCA dataframe
1674538.4151096225   542.2260413938212   0.16806854883940225

In [306]:
from sklearn.linear_model import LinearRegression
X = filtered_df1.drop('nr_unit', axis = 1)
Y = filtered_df1['nr_unit']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25)
 
# Splitting the data into training and testing data
regr = LinearRegression()
 
regr.fit(X_train, y_train)
f44 = regr.predict(X_test)
print(r2_score(f44, y_test))

-5.329513881631636

In [307]:
from sklearn.linear_model import LinearRegression
X = pca_df.drop('nr_unit', axis = 1)
Y = pca_df['nr_unit']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25)
 
# Splitting the data into training and testing data
regr = LinearRegression()
 
regr.fit(X_train, y_train)
f44 = regr.predict(X_test)
print(r2_score(f44, y_test))

-12.145595964008715

In [308]:
from sklearn.neighbors import KNeighborsRegressor

neigh = KNeighborsRegressor()
neigh.fit(X_train, y_train)
f33 = neigh.predict(X_test)
print(r2_score(y_test,f33))

0.054163748976263526

In [310]:
from sklearn.neural_network import MLPRegressor

regr = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)
f34 = regr.predict(X_test)
print(r2_score(y_test,f34))

0.12987267666525737

In [309]:
from sklearn.neural_network import MLPRegressor

regr = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)
f34 = regr.predict(X_test)
print(r2_score(y_test,f34))

0.12987267666525737

In [84]:
# value_counts = df1423['Customer Code Unique'].value_counts()

In [107]:
# value_counts

In [105]:
# filtered_df3 = df1423[df1423['Customer Code Unique'] == 22455]
# filtered_df3

In [106]:
# filtered_df2 = df1423[df1423['Customer Code Unique'] == 10203]
# filtered_df2